<div id="footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-6">
        <ul class="list-unstyled list-inline">
          <li><a href="https://github.com/mclumd/pelawak/"><i class="fa fa-github"></i></a></li>
          <li><a href="https://waffle.io/mclumd/pelawak/"><i class="fa fa-trello"></i></a></li>
          <li class="text-muted">
            <small>
              Made with <i class="fa fa-heartbeat"></i> by
              <a href="https://twitter.com/bbengfort">@bbengfort</a> and
              <a href="https://twitter.com/dtdannen">@dtdannen</a>
            </small>
          </li>
        </ul>
      </div>
      <div class="col-xs-6">
        <p class="text-right text-muted">
          <small>
            <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">
              <img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/4.0/80x15.png" />
            </a>
            <div class="hidden">
              <br />
              <span xmlns:dct="http://purl.org/dc/terms/" href="http://purl.org/dc/dcmitype/InteractiveResource" property="dct:title" rel="dct:type">Pelawak</span> by <span xmlns:cc="http://creativecommons.org/ns#" property="cc:attributionName">Benjamin Bengfort & Dustin Dannenhauer</span> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License</a>.<br />Based on a work at <a xmlns:dct="http://purl.org/dc/terms/" href="https://github.com/mclumd/pelawak/" rel="dct:source">https://github.com/mclumd/pelawak/</a>.
            </div>
          </small>
        </p>
      </div>
    </div>
  </div>
</div>
