{% extends 'page.html' %}
{% load staticfiles %}
{% load swampdragon_tags %}

{% block content %}

  {% if user.is_authenticated %}
    {% include 'components/chat.html' %}
  {% else %}
    {% include 'components/splash.html' %}
  {% endif %}

{% endblock %}

{% block javascripts %}
  {{ block.super }}
  {% if user.is_authenticated %}
    {% swampdragon_settings %}
    <script src="{% static 'swampdragon/js/dist/swampdragon.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/chat.js' %}"></script>
  {% endif %}
{% endblock %}
